#upload {
  margin: 1% auto;
  width: 70%;
  padding: 1px;
  border-radius: 10px;
  background-color: #323232;
}

.file-input {
  display: none;
}

.file-upload {
  text-align: center;
  margin: 1%;
}

h2 {
  text-align: center;
  margin: 2%;
}
