.bg-light {
  --bs-bg-opacity: 1;
  background-color: #252525 !important;
  color: white !important;
  height: 3em;
  margin-bottom: 1em;
  font-size: 32px;
}

.nav-link {
  color: white;
  margin: 0 10px;
}
