:host {
    width: 100%;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.eloChart,
.accuracyChart {
    width: 100%;
    background-color: #262522 !important;
    padding: 1%;
    margin: 1% 0;
    border-radius: 10px;
}

/* Media query pour les écrans de moins de 768px (tablettes et mobiles) */
@media (max-width: 768px) {
    .chart-row {
        flex-direction: column;
    }
}
