<div class="chart-row">
    <div class="eloChart">
        <img
            src="assets/logoBullet.png"
            alt="Bullet"
            id="logoBullet"
        />
        <canvas id="eloBulletChart"></canvas>
    </div>
    <div class="eloChart">
        <img
            src="assets/logoBlitz.png"
            alt="Blitz"
            id="logoBlitz"
        />
        <canvas id="eloBlitzChart"></canvas>
    </div>
    <div class="eloChart">
        <img
            src="assets/logoRapid.png"
            alt="Rapid"
            id="logoRapid"
        />
        <canvas id="eloRapidChart"></canvas>
    </div>
</div>
