<div class="container">
    <h2>Chess Openings Viewer</h2>
  
    <!-- Sélection de l'ouverture -->
    <label for="opening">Choose an opening:</label>
    <select id="opening" [(ngModel)]="selectedOpening" (change)="updateMoves()">
        <option value="">Select...</option>
        <!-- keyvalue pipe -->
        <option *ngFor="let opening of openings | keyvalue" [value]="opening.key">
          {{ opening.key }}
        </option>
      </select>
      
  
    <!-- Sélection de la variation -->
    <label for="variation">Choose a variation:</label>
    <select 
    id="variation" 
    [(ngModel)]="selectedVariation" 
    (change)="updateMoves()" 
    [disabled]="!selectedOpening">
    <option value="">Select...</option>
    <option 
        *ngFor="let variation of openings[selectedOpening] | keyvalue" 
        [value]="variation.key">
        {{ variation.key }}
    </option>
    </select>

  
    <!-- Affichage de l'échiquier -->
    <div class="board-container">
      <img [src]="currentImage" alt="Chess Board" class="chess-board">
    </div>
  
    <!-- Boutons de navigation -->
    <div class="button-container">
      <button (click)="previousMove()" [disabled]="currentMoveIndex === 0">Previous</button>
      <button (click)="nextMove()" [disabled]="currentMoveIndex >= moves.length - 1">Next</button>
    </div>
  
    <!-- Affichage des coups joués -->
    <div *ngIf="moves.length > 0" class="moves-display">
      <strong>Moves:</strong> {{ movesSoFar }}

    </div>
  </div>
  