<div class="main">
  <h1>Games playing White</h1>
  <table class="result">
    <thead>
      <th>Number of games won</th>
      <th>Number of games drawn</th>
      <th>Number of games lost</th>
    </thead>
    <tbody>
      <td class="greenNumbers">
        {{ gamesResult.numberOfGamesWonWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesWonWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="yellowNumbers">
        {{ gamesResult.numberOfGamesDrawnWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesDrawnWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="redNumbers">
        {{ gamesResult.numberOfGamesLostWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesLostWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
    </tbody>
  </table>
  <h1>Games playing Black</h1>
  <table class="result">
    <thead>
      <th>Number of games won</th>
      <th>Number of games drawn</th>
      <th>Number of games lost</th>
    </thead>
    <tbody>
      <td class="greenNumbers">
        {{ gamesResult.numberOfGamesWonWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesWonWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="yellowNumbers">
        {{ gamesResult.numberOfGamesDrawnWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesDrawnWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="redNumbers">
        {{ gamesResult.numberOfGamesLostWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesLostWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
    </tbody>
  </table>
</div>
