<table>
  <thead>
    <th>Number of games won with White</th>
    <th>Number of games drawn with White</th>
    <th>Number of games lost with White</th>
    <th>Number of games won with Black</th>
    <th>Number of games drawn with Black</th>
    <th>Number of games lost with Black</th>
  </thead>
  <tbody>
    <td>{{ gamesResult.numberOfGamesWonWithWhite }}</td>
    <td>{{ gamesResult.numberOfGamesDrawnWithWhite }}</td>
    <td>{{ gamesResult.numberOfGamesLostWithWhite }}</td>
    <td>{{ gamesResult.numberOfGamesWonWithBlack }}</td>
    <td>{{ gamesResult.numberOfGamesDrawnWithBlack }}</td>
    <td>{{ gamesResult.numberOfGamesLostWithBlack }}</td>
  </tbody>
</table>
