<div id="upload">
  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <div class="file-upload">
    {{ fileName || "No file uploaded yet." }}

    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      Bouton
    </button>
  </div>
</div>

<select #openings (change)="onSelected(openings.value)">
  <option default>Choisir une ouverture</option>
  <option>Ecossaise</option>
  <option>Espagnole</option>
  <option>Italienne</option>
  <option>Caro-kann</option>
  <option>Petrov</option>
  <option>Scandinave</option>
  <option>Alekhine</option>
  <option>Sicilienne</option>
  <option>e4</option>
  <option>d4</option>
</select>

<div class="main">
  <h1>Games playing White</h1>
  <table class="result">
    <thead>
      <th>Number of games won</th>
      <th>Number of games drawn</th>
      <th>Number of games lost</th>
    </thead>
    <tbody>
      <td class="greenNumbers">
        {{ gamesResult.numberOfGamesWonWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesWonWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="yellowNumbers">
        {{ gamesResult.numberOfGamesDrawnWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesDrawnWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="redNumbers">
        {{ gamesResult.numberOfGamesLostWithWhite }} /
        {{
          (
            (gamesResult.numberOfGamesLostWithWhite / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
    </tbody>
  </table>
  <h1>Games playing Black</h1>
  <table class="result">
    <thead>
      <th>Number of games won</th>
      <th>Number of games drawn</th>
      <th>Number of games lost</th>
    </thead>
    <tbody>
      <td class="greenNumbers">
        {{ gamesResult.numberOfGamesWonWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesWonWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="yellowNumbers">
        {{ gamesResult.numberOfGamesDrawnWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesDrawnWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
      <td class="redNumbers">
        {{ gamesResult.numberOfGamesLostWithBlack }} /
        {{
          (
            (gamesResult.numberOfGamesLostWithBlack / totalNumberOfGames) *
            100
          ).toFixed(2)
        }}%
      </td>
    </tbody>
  </table>
</div>
