<section id="form">
    <h2>
        Chess Results Stats provides you free analysis of Chess.com games
    </h2>
    <form (ngSubmit)="getDataFromApi()">
        <label for="username">Enter an username : </label>
        <input
            type="text"
            id="username"
            name="username"
            placeholder="e.g. MagnusCarlsen"
            [(ngModel)]="username"
            required
        />
        <button type="submit">
            <span *ngIf="!isLoading">Get Data</span>
            <img
                *ngIf="isLoading"
                src="assets/waitingLogo.gif"
                alt="Chargement..."
                id="loadingImg"
            />
        </button>
    </form>
</section>

<div class="charts-container" [ngClass]="{'hidden': !isChartVisible}">
    <app-games-count [numberOfGames]="numberOfGames"></app-games-count>
    <app-elo-chart #eloChartRef></app-elo-chart>
    <app-accuracy-chart #accuracyChartRef></app-accuracy-chart>

    <div class="item-row">
        <app-opening-chart #openingChartRef></app-opening-chart>
        <app-winrate-histogram [username]="username"></app-winrate-histogram>
    </div>
    <div class="item-row">
        <app-moves-by-pieces [username]="username"></app-moves-by-pieces>
    </div>
</div>
