<div class="main">
  <div class="header">
    <p>
      Chess Results Stats provides you free analysis of your games if you play
      on Chess.com <br />
      You can access the results of any players, you or top players<br />
      You just need to enter an username
    </p>
  </div>

  <div id="form">
    <form (ngSubmit)="getDataFromApi()">
      <label for="username">Enter your username :</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
      <button type="submit">
        <span *ngIf="!isLoading">Get Data</span>
        <img
          *ngIf="isLoading"
          src="assets/waitingLogo.gif"
          alt="Chargement..."
          id="loadingImg"
        />
      </button>
    </form>
    <!-- <h2>Number of your games : {{ getNumberOfGames() }}</h2> -->
  </div>

  <div class="charts-container">
    <!-- Ligne pour les graphiques ELO -->
    <div class="chart-row">
      <div class="eloChart">
        <h3>Elo Bullet</h3>
        <canvas id="eloBulletChart"></canvas>
      </div>
      <div class="eloChart">
        <h3>Elo Blitz</h3>
        <canvas id="eloBlitzChart"></canvas>
      </div>
      <div class="eloChart">
        <h3>Elo Rapid</h3>
        <canvas id="eloRapidChart"></canvas>
      </div>
    </div>

    <!-- Ligne pour les graphiques Accuracy -->
    <div class="chart-row">
      <div class="accuracyChart">
        <h3>Accuracy Bullet</h3>
        <canvas id="accuracyBulletChart"></canvas>
      </div>
      <div class="accuracyChart">
        <h3>Accuracy Blitz</h3>
        <canvas id="accuracyBlitzChart"></canvas>
      </div>
      <div class="accuracyChart">
        <h3>Accuracy Rapid</h3>
        <canvas id="accuracyRapidChart"></canvas>
      </div>
    </div>
  </div>

  <canvas id="openingsAccuracyChart" width="400" height="200"></canvas>
</div>
