<div class="main">
  <div class="header">
    <p>
      Chess Results Stats provides you free analysis of your games if you play
      on Chess.com <br />
      You can access the results of any players, you or top players<br />
      You just need to enter an username
    </p>
  </div>

  <div id="form">
    <form (ngSubmit)="getDataFromApi()">
      <label for="username">Enter your username :</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
      <button type="submit">
        <span *ngIf="!isLoading">Get Data</span>
        <img
          *ngIf="isLoading"
          src="assets/waitingLogo.gif"
          alt="Chargement..."
          id="loadingImg"
        />
      </button>
    </form>
    <!-- <h2>Number of your games : {{ getNumberOfGames() }}</h2> -->
  </div>

  <div class="charts-container">
    <app-elo-chart></app-elo-chart>
    <app-accuracy-chart></app-accuracy-chart>
  </div>

  <canvas id="openingsAccuracyChart" width="400" height="200"></canvas>
</div>
