h2 {
  margin: 40px 0px 50px 0px;
}

h3 {
  margin: 40px 0px 50px 0px;
}

.main {
  text-align: center;
  margin: 20px;
}

#form {
  background-color: #262522;
  border-radius: 10px;
  padding: 50px 20px;
  width: 80%;
  margin: 0 auto;
}

#username {
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}

button {
  background-color: #7db04a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
}

#loadingImg {
  width: 25px;
}

.view-selector {
  background-color: #262522;
  border-radius: 10px;
  padding: 50px 20px;
  width: 80%;
  margin: 0 auto;
}

.view-selector button:hover {
  background-color: #7db04a;
}

/* currently active button */
.view-selector button.active {
  background-color: #5c9647;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.charts-container {
  display: flex;
  justify-content: space-around; /* same space between elements */
  align-items: center; /* to center verticaly */
  width: 60%;
  margin: 0 auto;
}

.charts-container > div {
  flex: 1; /* every div take the same space from available space */
}

.rapidResults,
.blitzResults,
.bulletResults {
  background-color: #262522;
  margin: 5% auto;
  border-radius: 10px;
  padding: 3%;
  width: 70%;
}

.bullet,
.blitz,
.rapid {
  background-color: #262522;
  margin: 100px auto;
}

canvas {
  width: 80% !important;
  margin: 50px auto;
}

.hidden {
  display: none;
}
