body {
    background-color: #302e2b;
    color: #CCCCCC;
    text-align: center;
}

#form {
    background-color: #262522;
    padding-bottom: 20px;
}

#username {
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

button {
    background-color: #7db04a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
    width: 150px;
}

#loadingImg {
    width: 25px;
}

.item{
    background-color: #262522;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.item-row{
    display: flex;
    width: 100%;
}

.item-row > * {
    flex: 1; /* Chaque élément prend une part égale de la largeur */
}

.averageMovesTable{
    margin: 0 auto; 
}

.hidden {
    visibility: hidden;
}

@media (max-width: 768px) {
    .item-row{
        flex-direction: column;
    }
}